//	colors.scss for voiture 
$primary: #11589a;
$alt-primary: #0e487d;
$secondary: #03a9f5;
$alt-secondary: #1897d1;
$orange: #f29400;
$white: #fff;
$black: #333;
$white-blue: #f2fbfe;

// sizes
$border-r: 10px;
$fs-l: 14px;
$lh-p: 1.5;

// box-shadow
$box-s: 0 0 10px rgba(0,0,0,0.3);