/* style of footer */
@use '../abstracts' as *;
.footer {
    .footer-up {
        font-size: 14px;
    }
    .footer-item {
        min-width: 24%;
        max-width: 100%;
    }
    > p:first-child {
        border: 1px solid #e6e6e6;
        padding: 20px 0;
        color: $primary;
        margin-bottom: 50px;
    }
    .footer-title {
        font-size: 20px;
        font-weight: 600;
    }
    ul li a {
        color: $black;
        font-size: 14px;
        transition: 0.3s;
    }
    ul li a:hover {
        color: $primary;
    }
    .social-media {
        margin-top: 15px;
        li {
            width: 35px;
            height: 35px;
            cursor: pointer;
            opacity: 0.8;
            transition: 0.3s;
            &:hover {
                opacity: 1;
            }
            svg {
                font-size: 14px;
            }
            @media(min-width: 400px) {
                width: 40px;
                height: 40px;
                svg {
                    font-size: 16px;
                }
            }
            border-radius: 50%;
            display: grid;
            place-items: center;
        }
        li:first-of-type {
            background-color: #1877f2;
        }
        li:nth-of-type(2) {
            background-color: #007ebb;
        }
        li:nth-of-type(3) {
            background-color: #f00;
        }
        li:nth-of-type(4) {
            background-color: #f0326c;
        }
    }
    .copyright {
        font-size: 14px;
        margin: 0;
        padding: 15px 10px;
        color: #777;
        border-top: 1px solid #e6e6e6;
    }
}
